
<h1>{{title}}</h1>
<p>Degugging for {{title}}</p>
<p>This site uses Socket.io websockets to debug a Pebble Accelerometer</p>

<div class="row">
  <div class="col-md-4">
    <h3>X</h3>
    <span id="x-axis"></span>
  </div>
  <div class="col-md-4">
    <h3>Y</h3>
    <span id="y-axis"></span>
  </div>
  <div class="col-md-4">
    <h3>Z</h3>
    <span id="z-axis"></span>
  </div>
  
  
  
</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('acceldata', function (data) {
    $('#x-axis').text(data.x);
    $('#y-axis').text(data.y);
    $('#z-axis').text(data.z);
  });
</script>
